:root {
  --primary: #ff4a52;
}
.btn {
  width: 28.3rem;
  padding: 8px 20px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
  height: 4rem;
}
.btn:hover {
  background-color: rgb(33, 173, 173);
}
.btn--primary {
  font-weight: bold;

  background-color: var(--primary);
}
.btn--outline {
  background-color: transparent;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}
.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
  color: white;
}
.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}
.btn--medium:hover,
.btn--large:hover {
  background-color: #fff;
  color: white;

  transition: all 0.3s ease-out;
}
.input {
  width: 28.3rem;
  padding: 8px 20px;
  border-radius: 5px;
  color: gray;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  height: 4rem;
}
.hero-search {
  position: relative;
  display: flex;
}
.hero-select-month {
  position: relative;
  color: gray;
}
.select-icon-month {
  position: absolute;
  z-index: 1;
  color: black;
  font-family: 100;
  font-size: 1.6rem;
  right: 0.43rem;
  top: 1.15rem;
  cursor: pointer;
}
.hero-content-h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
}
.hero-content-p {
  font-size: 1.6rem;
  font-weight: lighter;
  color: gray;
  margin-bottom: 1.1rem;
}
.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.btns-submit {
  background-color: #ff4a52;
  width: 28.3rem;
  padding: 8px 20px;

  outline: none;
  border-radius: 5px;
  cursor: pointer;
  height: 3.8rem;
}

.search-icon {
  position: absolute;
  z-index: 1;
  color: grey;
  font-family: 100;
  font-size: 1.8rem;
  right: 0.5rem;

  top: 1rem;
  cursor: pointer;
}
#icon {
  color: #a5a4b2; /* Màu sắc nhạt, bạn có thể thay đổi giá trị này */
}

.custom-icon {
  /* Add your custom styling here */
  color: #333; /* Change the color as needed */
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .btn {
    width: 25.3rem;
  }
  .input {
    width: 25.3rem;
  }
}
@media screen and (max-width: 1100px) {
  .btn {
    width: 22.3rem;
  }
  .input {
    width: 22.3rem;
  }
}
@media screen and (max-width: 950px) {
  .btn {
    width: 20rem;
  }
  .input {
    width: 20rem;
  }
}
@media screen and (max-width: 860px) {
  .btn {
    width: 18rem;
  }
  .input {
    width: 18rem;
  }
}
@media screen and (max-width: 765px) {
  .hero-content-h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
  .hero-content-p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: gray;
    margin-bottom: 1.5rem;
  }
  .btn {
    width: 16rem;
  }
  .input {
    width: 16rem;
  }
}
@media screen and (max-width: 700px) {
  .inpbtn {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 40rem;
    padding: 8px 20px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    height: 3.5rem;
  }
  .input {
    width: 40rem;

    padding: 8px 20px;
    border-radius: 5px;
    color: gray;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    height: 3.5rem;
  }
}
